/* add code here to make your image 300px square */
.pet {
    width: 300px;
}
/* add code here to change the color and font family of your name/title */
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #347deb;
}
    
/* Bonus: change the color of your list elements */
ol{
    color: red
}